body {
    background-color: #FFC10D;
}

h1 {
    color: 2A3061;
    margin-left: 20px;
}

h2 {
color: #2A3061;
margin-left: 20px;
}

h4 {
	color: #2A3061;
	margin-left: 20px;
}

img {padding-left: 40px;
}

i {
	color: #1D4263;
}

p {
	font style change